@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

@layer base {
  :root {
    --primary-color: theme('colors.light.primary');
    --secondary-color: theme('colors.light.secondary');
    --accent1-color: theme('colors.light.accent1');
    --accent2-color: theme('colors.light.accent2');
    --accent3-color: theme('colors.light.accent3');
  }
  
  .dark {
    --primary-color: theme('colors.dark.primary');
    --secondary-color: theme('colors.dark.secondary');
    --accent1-color: theme('colors.dark.accent1');
    --accent2-color: theme('colors.dark.accent2');
    --accent3-color: theme('colors.dark.accent3');
    
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-krona text-6xl
  }

  .glass-nav {

    background-color: rgba(255, 255, 255, 0.226);
    /* opacity: 24%; */
    backdrop-filter: blur(14px);
    /* border-top: 1px solid rgba(225, 225, 225, 0.4);
    border-left: 1px solid rgba(225, 225, 225, 0.4); */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);

  }

  .glass2 {
    background-color: rgba(217, 217, 217, 0.212);
    backdrop-filter: blur(53px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);

  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .glass3 {
    background-color: #212c0cb9;
    backdrop-filter: blur(53px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  }

  .hero-sm {
    background-image: url('./assets/hero-bg-small.png');
  }
  .hero-lg {
    background-image: url('./assets/hero-bg-big.png');
  }

  .translate {
    transform: translateX(-50%);
  }

  .room-card {
    background-image: url('./assets/room.jpg');
  }

}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }



  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    
    scrollbar-color: transparent rgba(0, 0, 0, 0); /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); /* Invisible track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Color of the scrollbar */
    border-radius: 13px; /* Rounded edges */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0); /* Darker color on hover */
  }
  
  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }


  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

}